service-edi271/src/main/resources/data/xsd/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema" xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">
<xsd:element name="person">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"></xsd:element>
			<xsd:element name="age" type="xsd:string"></xsd:element>
			<xsd:element name="place" type="xsd:string"></xsd:element>
			<xsd:element name="sex" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element> 
</xsd:schema>